<tr>
    <td align="right" width="5px" style="font-size: 14px;">{{ line_key }}</td>
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.a l_key=line_key c_key='a' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.b l_key=line_key c_key='b' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.c l_key=line_key c_key='c' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.d l_key=line_key c_key='d' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.e l_key=line_key c_key='e' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.f l_key=line_key c_key='f' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.g l_key=line_key c_key='g' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.h l_key=line_key c_key='h' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.i l_key=line_key c_key='i' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.j l_key=line_key c_key='j' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.k l_key=line_key c_key='k' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.l l_key=line_key c_key='l' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.m l_key=line_key c_key='m' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.n l_key=line_key c_key='n' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.o l_key=line_key c_key='o' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.p l_key=line_key c_key='p' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.q l_key=line_key c_key='q' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.r l_key=line_key c_key='r' bgcolor=odd %}
    {% include 'chess_engine/board_cell.html' with game=game game_data=game_data cell=line.s l_key=line_key c_key='s' bgcolor=odd %}
</tr>
